.example-card {
    width: 250px;
    height: 350px;
    float:left;
    margin:4px;
    
      }
      
      .example-header-image {
        background-image: url('../../../../../assets/images/burger.jpeg');
        background-size: cover;
      }
      img{

          height: 200px;
          width: 250px;
      }